header {
    font-size: large;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 53, 53);
    font-size: 26px;
    min-height: 100vh;
    line-height: 1.4;
    overflow: overlay;
}

p {
    margin: 0 30px;
}

li {
    float: left;
    list-style-type: none;

}

ul {
    padding-inline-start: 0px;
    margin-top: -2px;
}

input {
    border: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    padding: 0 5px;
}

a.highlight:hover {
    color: #59c1eb;
    background-color: #024058;
}

#body-wrap {
    position:relative;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(233, 233, 233);
    text-align: center;
}

#footer {
    width: auto;
    background-color: rgb(28, 28, 28);
    padding: 5px;
    color: rgb(228, 228, 228);
    border-top: 2px solid #ececec;
    display: block;
}

.page-background {
    opacity: 1;
    z-index: -10;
}

.Logo {
    width: 70px;
    max-width: 70px;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.main-navigation {
    text-align: left;
    position: relative;
    background-color: #1b1b1b;
    overflow: hidden;
}

.Hamburger-Nav {
    width: 65px;
    height: auto;
    margin: 11px;
}

.Hamburger-Nav a {
    background: url("Images/Icons/hamburger-menu.png") no-repeat;
    width: 65px;
    height: 65px;
    display: block;
    background-size: 50px;
    margin: 5px;
    filter: invert();
}

.Nav-Container {
    display: flex;
    height: 75px;
    flex-grow: 1;
}

.column {
    flex-grow: 1;
    padding-top: 2px;
}

.empty-column {
    flex-grow: 2;

}

.box {
    background-color: rgb(24, 24, 24);
    border: 2px;
    height: 75px;
    width: 100%;
    flex-grow: 1;
}

.nav-button {
    width: 55px;
    height: 75px;
    padding: 30px;
    opacity: 75%;
    filter: invert();
    background: url("Images/Icons/Draw_button.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-button:hover {
    background-color: #581A02;
}

.SearchField {
    background-color: transparent;
    padding: 5px 10px 5px 5px;
    height: 75px;
    color: white;
    font-size: 35px;
    font-family: Roboto,Helvetica,sans-serif;
    outline: none;
    width: 240px;
    appearance: auto;
    box-sizing: border-box;
}

.top-navigation-bar {
    text-decoration: none;
    color: #bbb8b8;
    display: block;
    width: fit-content;
    padding: 29px 18px 28px 18px;
    line-height: 1;
}

.header-overlay {
    display: block;
    height: 450px;
    width: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    color: rgb(247, 243, 239);
    font-size: 32px;
    background-color: #0a0a0aa8;
}

.footer-base {
    display: flex;
    flex-direction: column;
    margin: 25px;
    align-items: center;
}

.footer-top{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-bottom{
    font-size: smaller;
    color: #8d8d8d;
    padding-top: 25px;
}

.footer-middle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;

}

.footer-navigation {
    color: #dfdfdf;
    font-size: 20px;
}

.padding {
    padding: 0 20px;
    text-decoration: none;
}

.social-media-button {
    text-decoration: none;
}

.cardshowcase {
    margin: 50px 25px;
    display: flex;
    height: 1115px;
    width: auto;
    padding: 0 5px;
    flex-direction: column;
    justify-content: space-evenly;
}

.randomcard {
    height: 550px;
    width: auto;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    background-image: url("Images/Backgrounds/Card_Galaxy_Bg.jpg");
    background-color: rgba(0, 0, 0, 0.253);
    border: 10px ridge grey;
}
#randomTextBG {
    background-color: rgba(19, 19, 19, 0.5);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#randomcardshowcase {
    text-align: left;
    position: relative;
    width:fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.3em;
}

#randomImage {
    height: 550px;
    width: 377px;
}

.popularcard {
    background-color: rgb(241, 200, 200);
    height: 550px;
    width: auto;
}

#ToTheTop {
    bottom: 35px;
    left: 30px;
    position: fixed;
    z-index: 10;
}

#TopButton {
    background: url("Images/Icons/ToTop.png");
    background-size: 55px;
    border: none;
    background-color: #1414143a;
    border-radius: 30px;
    height:55px;
    width: 55px;
}

#TopButton:hover {
    background-color: #14141483;
    transform: scale(1.2);
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #6666669c;
    border-radius: 5px;
    border: 2px solid rgba(10, 9, 15, 0.336);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
    border: 2px solid rgb(10, 9, 15);
}

/* Testing Stuffs for Mobile Responsiveness */
.show-on-mobile-size {
    display: block;
}

.show-on-tablet-size {
    display: block;
}

.show-on-desktop-size {
    display: block;
}

.hide-from-mobile-size {
    display: block;
}

.hide-from-tablet-size {
    display: block;
}
.hide-from-desktop-size {
    display: block;
}
/* When the Screen is Mobile Size Do This */
@media screen and (max-width: 767px) {
    .hide-from-mobile-size {
        display: none;
    }
    #body-wrap {
        width: 100%; 
        margin: 0 0;
    }
    .SearchField {
        width: 100%;
    }
    #TopButton {
        background-size: 32px;
        height: 32px;
        width: 32px;
    }
    #ToTheTop {
        bottom: 13px;
        left: 10px;
        position: fixed;
        z-index: 10;
    }
    #randomImage {
        width: 100%;
        height: auto;
    }
    .randomcard {
        height: auto;
    }
    .footer-middle {
        display: block;
        height: auto;
        margin: 5px;
    }
    #footerNavMobile {
        display: grid;
        justify-items: center;
    }
    .padding {
        padding: 0 0;
    }
    .footer-bottom {
        text-align: center;
    }   


}
/* When the Screen is Bigger Than Mobile Size hide the Mobile size only stuff*/
@media screen and (min-width: 768px) {
    .show-on-mobile-size {
        display: none;
    }

}
/* When the Screen is Tablet size do this */
@media screen and (max-width: 1024px) {
    .hide-from-tablet-size {
        display: none;
    }
    .show-on-desktop-size {
        display: none;
    }
    
}
/* When the Screen is Just Desktop Size Do This */
@media screen and (min-width: 1025px) {
    .show-on-tablet-size {
        display: none;
    }
    .hide-from-desktop-size {
        display: none;
    }
}

.twitter-timeline {
    overflow-y: scroll;
    margin: 0 auto;
    top: 100px;
}

.TwitterShowcase {
    background-color: #024058;
    width: 80%;
    margin: 0 auto;
}

.dropdown-Content {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: visible;
    z-index: 100;
    color: white;
    background-color: rgb(24, 24, 24);
    width: 400px;
    overflow: auto; 
}

.card-dropdown {
    padding: 5px;
    border: 2px solid rgb(19, 19, 19);
    max-height: 108px;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
    display: flex;
}

.card-dropdown:hover {
    background-color: #024058;
}

.hide {
    display: none;
}

.SearchField {
    width: 400px;
}

.card-name {
    font-size: 22px;
    color: rgb(255, 255, 255);
    width: 346px;
    float: left;
}

.card-description {
    color: rgb(185, 185, 185);
    font-size: 18px;
    float: left;
    width: 343px;
}

.card-image-container {
    display: flex;
    align-items: center;
    float: right;
}

.card-image {
    width: 40px;
    height: 60px;
}

.SearchMore {
    text-align: center;
    margin: 0px auto;
    width: 100%;
    padding: 8px 0px;
}

.SearchMore a {
    color: white;
}

.SearchMore:hover {
    background-color: #024058;
}

.NoButton {
    background:none;
    border:none;
    text-align: left;
    padding: 0px;
}

.headerPadding {
    margin-top: 75px;
}