header {
    font-size: large;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 53, 53);
    font-size: 20px;
    background: rgb(28, 28, 28);
    min-height: 100vh;
}

p {
    margin: 0 30px;
}

li {
    float: left;
    list-style-type: none;

}

ul {
    padding-inline-start: 0px;
    margin-top: -2px;
}

input {
    background-color: transparent;
    padding: 15px 10px 15px 5px;
    height: 75px;
    color: white;
    font-size: 22px;
    border: 0;
    border-top: 4px solid #16759b;
    font-family: Roboto,Helvetica,sans-serif;
    outline: none;
    width: 200px;
}

a.highlight:hover {
    color: #59c1eb;
    background-color: #024058;
}

#body-wrap {
    position:relative;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(233, 233, 233);
    text-align: center;
}

#site-navigation {
    background-color: #232323;
    border-top: 4px solid #289dcc;
}

#footer {
    width: auto;
    background-color: rgb(28, 28, 28);
    padding: 5px;
    color: rgb(228, 228, 228);
    border-top: 2px solid #ececec;
    display: block;

}

.page-background {
    opacity: 1;
    z-index: -10;
}

.Logo {
    width: 70px;
    max-width: 70px;
    margin: 0px;
    padding: 0px;
    border-top: 4px solid #3bb4e4;
    padding-right: 5px;
    padding-bottom: 2px;
}

.main-navigation {
    text-align: left;
    vertical-align: middle;
}

.Nav-Container {
    display: flex;
    height: 75px;

}

.colomn {
    flex-grow: 1;
    padding-top: 2px;

}

.empty-colomn {
    flex-grow: 2;

}

.box {
    background-color: rgb(24, 24, 24);
    border: 2px;
}

.nav-button {
    width: 45px;
    height: 75px;
    padding: 15px 0px 15px 10px;
    border-top: 4px solid #E0784E;
    opacity: 75%;
    filter: invert();
    background: url("Images/Draw_button.png");
    background-size: 60px 55px;
    background-repeat: no-repeat;
    background-position: center;
}

.search {
    padding-left: 0px;
}

.top-navigation-bar {
    text-decoration: none;
    color: #bbb8b8;
    display: block;
    width: fit-content;
    padding: 29px 18px 21px 18px;
}

.header-overlay {
    display: block;
    height: 450px;
    width: auto;
    text-align: center;
    background-image: url("Images/Header/Header-Background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    color: rgb(247, 243, 239);
    font-size: 32px;
    background-color: #0a0a0aa8;
}

.footer-base {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.footer-top{
    display: flex;
    align-items: center;
}

.footer-bottom{
    font-size: smaller;
    color: #6e6e6e;
    padding-top: 25px;
}

.footer-middle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;

}

.footer-navigation {
    color: #bbb8b8;
    font-size: 20px;
}

.padding {
    padding: 0 20px;
    text-decoration: none;
}

.social-media-button {
    text-decoration: none;
}